# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.service
*.dbmdl
*.jfm
.vs/
.vscode/
.idea/

# Docker
.docker/

# Logs
logs/
*.log
npm-debug.log*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Azion specific
.azion/
